.rowCont {
    padding: 2em;
}

.bak {
    position: absolute;
    z-index: 99;
    top: 4%;
    left: 4%;
    border-radius: 25px;
    height: 28px;
    background: #fff;
    width: 28px;
    outline: none;
}

.contBg {
    background: #ffffff;
    position: absolute;
    top: 36%;
    width: 100%;
    z-index: 99;
    border-radius: 25px 25px 0px 0px;
}

.contText {
    padding-bottom: 0;
    padding: 5px 10px 0 10px;
}
.contText h3 {
    margin-top: -5px;
    font-family: "Poppins-Medium";
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.contText p {
    margin: 0px;
    font-family: "Poppins-light";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #4F4F4F;

}

.rowText {
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 5px 10px 0 10px;
}
.rowText p {
    margin: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4F4F4F;
}

.rowText span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #CBD5E0;
}

.sc-ion-card-md-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 10px;
    margin-inline-end: 0;
    padding: 5px;
    margin-bottom: 0px;
}

.priceTxt p {
    color: #66AF08;
}

.addPriceTxt {
    height: 25px;
    width: 85%;
    margin: 25px auto auto auto;
}

.fabBg ion-icon {
    color: #66af08;
    font-size: 15px;
}

ion-fab-button {
    --background: #fff;
    width: 25px;
    height: 25px;
    border: 1px solid #66af08;
    border-radius: 25px;
}

.kgTxt{
    padding-top: 10px;
}

.addPriceTxt p {
    text-align: center;
}

.butt {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 2%;
}

.add img {
    width: 15px;
    margin-right: 8px;
}
.add {
    width: 170px;
    height: 51px;
    background: #ffffff;
    text-transform: capitalize;
    font-family: "Poppins";
    box-shadow: 0px -0.2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: inline-block;
    margin-right: 0px;
    margin-left: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FF8833;
    outline: none;
    --border-color: #EDF2F833;
    --background: #fff;
    border: 1px solid #FF8833;
    box-sizing: border-box;
    padding-top: 0px;
}

.buy {
    width: 170px;
    height: 51px;
    background: #66AF08;
    text-transform: capitalize;
    font-family: "Poppins";
    box-shadow: 0px -0.2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    outline: none;
}

.bgText h3 {
    margin: 0;
    font-family: "Poppins-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.uploadImg ion-img {
    max-width: 70%;
    position: absolute;
    right: 5px;
    top: 20px;
}

.bgText p {
    margin: auto;
    font-family: "Poppins";
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.bgText span {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #4F4F4F;
}

ion-searchbar {
    padding: 0 2em 0 2em;
}
:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

.no-scroll .scroll-content {
  overflow: hidden
}

.swiper-slide {
    display: block;
  }

ion-slide > img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px;
    object-fit: cover;
    height: 320px;
    width: 100%;

}

ion-slide > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #4F4F4F;
}

.ref {
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
}

.ref a {
  background-color: transparent;
  color: var(--ion-color-primary, #3880ff);
  text-decoration: none
}

ion-slides {
    --bullet-background:  var(--ion-color-primary);
    --bullet-background-active: #F2994A;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #66af08;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  --bullet-background-active: #fff; 
  height: 15px !important;
  width: 15px !important;
  border: 1px solid #67af0a !important;
}

.cocoaText {
    padding-left: 20px;
}
.cocoaText h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #4F4F4F;
    text-align: left;
}

.cocoaText p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #4F4F4F;
    text-align: left;
}

.slide1 {
    margin-top: 0em;
    mix-blend-mode: multiply;
    background:  url('../../../assets/images/Cocoa.png') no-repeat 0 0;
    background-size: cover;
    ion-content {
        --color: #fff;
        --background: none;
    }
    height: 237px
}

.slide2 {
    margin-top: 0em;
    mix-blend-mode: multiply;
    background:  url('../../../assets/images/almonds.png') no-repeat 0 0;
    background-size: cover;
    ion-content {
        --color: #fff;
        --background: none;
    }
    height: 237px
}
.slide3 {
    margin-top: 0em;
    mix-blend-mode: multiply;
    background:  url('../../../assets/images/cashew.png') no-repeat 0 0;
    background-size: cover;
    ion-content {
        --color: #fff;
        --background: none;
    }
    height: 237px
}
.slide4 {
    margin-top: 0em;
    mix-blend-mode: multiply;
    background:  url('../../../assets/images/groundnut.png') no-repeat 0 0;
    background-size: cover;
    ion-content {
        --color: #fff;
        --background: none;
    }
    height: 237px
}

.viewEdit {
    margin-top: 2.3em;
}

.almond {
    background: #ffffff;
    border-radius: 6px;
    float: right;
    padding: 8px 15px 8px 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #F44336;
}

.cashew {
    background: #ffffff;
    border-radius: 6px;
    float: right;
    padding: 8px 15px 8px 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #F44336;
}

.ground {
    float: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    padding: 8px 15px 8px 15px;
    background: #F2994A;
    border-radius: 6px;
}

.reduced {
    margin: 10px 26px 0 0;
}
.ground {
    margin: 10px 26px 0 0;
}
.cashew {
    margin: 10px 26px 0 0;
}
.almond {
    margin: 10px 26px 0 0;
}

.reduced span {
    background: #FFC000;
    border-radius: 6px;
    float: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #4F4F4F;
    padding: 8px 15px 8px 15px;
}

.swiper-container {
    margin: 0 auto;
    position: relative !important;
    overflow: visible;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: opacity .3s;
    -o-transition: .3s opacity;
    transition: opacity .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10;
    top: 17em !important;
}

ion-button.view {
    --background: transparent;
    --border-width: none;
    --background-activated: transparent;
    --box-shadow: transparent;
    float: right;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4F4F4F;
    text-transform: capitalize;
    font-family: "Poppins";
}

.view ion-img {
    margin-left: 10px;
}

.viewText p {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4F4F4F;
}

a {
    background-color: transparent;
    color: #F2994A;
}

.cardBg ion-footer {
    display: block;
    position: relative;
    -webkit-box-ordinal-group: 2;
    order: 1;
    width: 100%;
    z-index: 10;
    background: #fff;
    border: 0.1px solid #F2F2F2;
    box-sizing: border-box;
    padding: 5px;
}

// .cartAdd {
//     padding-top: 6px;
//     padding-left: 18px;
// }
.cartAdd ion-icon {
    height: 18px;
    width: 18px;
    color: #FF8833;
}
.cardBg .footer-md:before {
    left: 0;
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 0;
}
.cardBg ion-img {
    width: 188px;
    height: 110px;
    margin: auto;
    // padding: 10px;
}

.cardBg span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #66AF08;
}

.cardBg h3 {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #6E6E6E;
    margin: 0;
    text-align: left;
}
.pColor {
    color: #66AF08;
}

.futCart p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: left;
    padding-left: 0px;
}
ion-button.cart {
    --background: transparent;
    --border-width: none;
    --background-activated: transparent;
    --box-shadow: transparent;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #F44336;
}
.countDsp {
    padding: 0px;
}
.cartText h2 {
    font-weight: 500;
    margin: 0;
    font-family: "Poppins";
    font-size: 14px;
    line-height: 21px;
    color: #4F4F4F;
}
.cartText h3 {
    font-family: "Poppins";
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #4F4F4F;
}
.cartBut {
    display: block;
}
.cart-purchase {
    --background: #fff;
    border-radius: 2px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #FF8833;
    margin: 0;
    height: 35px;
    padding-top: 4px;
    margin-right: 10px;
    text-transform: capitalize;
    margin-top: -5px;
    width: 120px;
}


.countryBg ion-img {
    width: 18px;
    height: 18px;
    margin-left: -20px;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .butt{
        text-align: center;
        margin-top: 6%;
        margin-bottom: 2%;
        display: flex;
    } 

    .add{
        width: 125px;
        height: 42px;
        display: inline-block;
        margin-right: 8px;
        margin-left: 15px;
        box-sizing: border-box;
        padding-top: 0px;
        font-size: 12px;
    }

    .buy {
        width: 125px;
        height: 42px;
        margin-right: 0px;
        margin-left: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 26px;
        text-align: center;
        color: #fff;
        outline: none;
    }

    .rowText p{
        margin: 0px;
        font-size: 8px;
    }

    .rowText span {
        font-size: 8px;
    }
}