<ion-header>
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="chat ion-padding">
    <a ion-button href="https://api.whatsapp.com/send?phone=+2348107644667">
      <ion-img src="../../../assets/images/whatsappLogo.png"></ion-img>
      Kindly chat with us...
    </a>
  </div>

</ion-content>
