<ion-header>
  <ion-progress-bar value="1" ></ion-progress-bar>
</ion-header>

<ion-content padding>
  
  <div class="succBg">
    <img src="../../../assets/images/success.svg">
    <p>You have successully registered as a Buyer</p>
  </div>

</ion-content>

<ion-footer>
  <ion-button fill="outline" expand="block" class="submit" effect="fade" (click)="goToLogin()" routerDirection="forward">
    <span>Let's Go!</span>
  </ion-button>
</ion-footer>