<ion-header>
  <ion-progress-bar value="0.8" buffer="0.8"></ion-progress-bar>
</ion-header>

<ion-content class="ion-padding" fullscreen scroll-y="true">

  <ion-button (click)="goBack()" class="bak">
    <ion-img slot="start" src="../../../assets/images/back.svg"></ion-img>
    BACK
  </ion-button>

  <div class="hideText">
    <h2>You are registering as a buyer </h2>
    <p class="start">Kindly provide us with the following details </p>
  </div>

  <section class="regBg">
    <ion-list>
      <ion-item>
        <ion-label position="floating">FIRST NAME</ion-label>
        <ion-input required [(ngModel)]="buyerBody.fname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">LAST NAME</ion-label>
        <ion-input required [(ngModel)]="buyerBody.lname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">STATE</ion-label>
        <ion-input required [(ngModel)]="buyerBody.state"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>COUNTRY</ion-label>
        <ion-select [(ngModel)]="buyerBody.country" [compareWith]="compareWith">
          <ion-select-option *ngFor="let contTry of countries">{{contTry.country}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">COMPANY</ion-label>
        <ion-input required [(ngModel)]="buyerBody.companyName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">ROLE IN COMPANY</ion-label>
        <ion-input required [(ngModel)]="buyerBody.roleInCompany"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">COMPANY WEBSITE</ion-label>
        <ion-input required [(ngModel)]="buyerBody.companyWebsite"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">PHONE NUMBER</ion-label>
        <ion-input required [(ngModel)]="buyerBody.phoneNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">EMAIL</ion-label>
        <ion-input required type="email" [(ngModel)]="buyerBody.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">PASSWORD</ion-label>
        <ion-input required type="password" [(ngModel)]="buyerBody.password"></ion-input>
      </ion-item>

    </ion-list>
  </section>

  <button id="submit" fill="outline" expand="block" class="submit" effect="fade" (click)="buyerRegister()">
    <span>Submit</span>
  </button>

</ion-content>
