ion-progress-bar {
    height: 10px
}

ion-toolbar {
    --background: var(--ion-toolbar-background,var(--ion-background-color,#fff));
    --color: #66af08;
    --border-color: var(--ion-toolbar-border-color,var(--ion-border-color,var(--ion-color-step-150,#c1c4cd)));
    /* --padding-top: 10%; */
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --min-height: 80px;
}

ion-back-button {
    font-family: "Poppins";
    letter-spacing: 1.5px;
    font-weight: 600;
}


.hideText h2 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #4F4F4F;
    margin: 10px 0 0 0;
}
.hideText p {
    text-align: center;
    font-family: 'Poppins';
    color: #4F4F4F;
    margin: 8px 0 0 0;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.butOne {
    --background: #66AF08;
    color: #fff;
    height: 54px;
    width: 112px;
    margin-right: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    --background-activated: #ffffff;
}

.butTwo {
    --background: #ffffff;
    --background-activated: #66AF08;
    color: #66af08;
    height: 54px;
    width: 112px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center
}

.continue {
    float: right;
    margin-top: 15%;
}

.start {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #4F4F4F;
}

ion-button.bak {
    --background: transparent;
    --border-width: none;
    --background-activated: transparent;
    --box-shadow: transparent;
    font-family: 'Roboto Light';
    font-weight: bolder;
}

.bak ion-img {
    margin-left: -15px;
    margin-right: 7px;
}

.select-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #807d7d;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #BDBDBD;
}

.submit {
    font-style: normal;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.6);
    text-align: center;
    line-height: 26px;
    height: 51px;
    background: #E0EFCD;
    text-transform: capitalize;
    font-family: "Poppins";
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 10px;
    padding: 0;
    width: 98%;
    margin: 10% auto 10px auto;
    color: #ffffff;
    border-color: #E0EFCD;
    display: block;
}

.regBg {
    width: 98%;
    margin: auto;
}

.native-input.sc-ion-input-md {
    color: #565454 ;
}

.footer-md:before {
    left: 0;
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 0px;
    background-repeat: repeat-x;
    content: "";
}


ion-footer {
    display: block;
    position: relative;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
    padding: 10px 0 10px 0;
}

.submitBtn {
    width: 100%;
    position: fixed;
    bottom: 10px;
    left: 0px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .alert-wrapper.sc-ion-alert-md {
    border-radius: 4px;
    width: 80%;
    position: absolute;
    top: 24%;
    height: 273px;
    box-shadow: 0px 0.2px 4px rgba(0, 0, 0, 0.25);
}

item-label-stacked.sc-ion-input-md-h, .item-label-stacked .sc-ion-input-md-h, .item-label-floating.sc-ion-input-md-h, .item-label-floating .sc-ion-input-md-h {
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 0;
    font-size: 12px;
    color: #9a9a9a;
}
