<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="track">
      <ion-icon name="locate"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="mail-unread"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="profile" class="dpImg">
      <!-- <ion-img src="../../../assets/images/dp.png"></ion-img> -->
      <ion-icon name="person" ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
