.no-scroll .scroll-content {
    overflow: hidden
}

.logo {
    margin: 15% auto 5% auto;
    text-align: center
}

.text {
    text-align: center
}

.text h3 {
    margin-top: 10px;
    line-height: 21px;
    color: #4F4F4F;
    font-family: 'Poppins-light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.text h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #4F4F4F;
}

.text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0 0;
}

.log {
    margin: 15em auto auto auto;
    color: #ffffff;
    --color: #fff;
    font-family: "Poppins-light";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    width: 90%;
    height: 60px;
    --background: #66AF08;
    text-transform: capitalize;
    --border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.6);
    padding: 0px 5px 0px 5px;

}

ion-item {
    --border-width: 1px 1px 1px 1px;
    --show-full-highlight: 1;
    --show-inset-highlight: 0;
    --highlight-color-focused: #66af08;
    --highlight-color-valid: #66af08;
    --highlight-color-invalid: #f44336;
    width: 90%;
    margin: 35px auto 20px auto;
    overflow: unset;
    --border-radius: 4px;
}

.label-floating.sc-ion-label-md-h,
.label-stacked.sc-ion-label-md-h {
    margin-left: 0;
    margin-right: 0;
    margin-top: -21px;
    margin-bottom: 0;
    font-family: "Poppins";
    background: white;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 23px;
    color: #aba7a7;
    padding: 0px 10px 0 10px;
    position: absolute;
}


.inputborder {
    width: 100%;
}

.login {
    height: 20px;
    width: 100%;
}

.forgot span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #F44336;
    padding: 10px;
    float: right;
    margin-top: -20px;
    position: relative;
    right: 3%;
}

.footer-md:before {
    left: 0;
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 0px;
    background-repeat: repeat-x;
    content: "";
}

ion-footer {
    display: block;
    position: relative;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
    padding: 10px 0 10px 0;
}

ion-item {
    --border-color: transparent !important;
    --highlight-height: 0;
    border: 1px solid #dedede;
    border-radius: 4px;

    &.item-has-focus {
        border: 1px solid var(--ion-color-primary);
    }

    ion-label {
        color: #aba7a7;
        font-weight: 700;
    }

}

@media screen and (min-width: 412px) and (max-width: 892px) {
    .log {
        margin: 15em auto auto auto;
    }
}

@media screen and (min-width: 360px) and (max-width: 375px) {
    .log {
        font-size: 14px;
    }
}