<ion-content padding fullscreen scroll-y="true">

  <div class="logo">
    <img src="../../../assets/images/logo.png">
  </div>

  <div class="text">
    <h2>Welcome!</h2>
    <h3>Kindly log in to access your account</h3>
    <!-- <h5>Click below to register</h5> -->
  </div>

  <ion-item>
    <!-- (click)="showInput" -->
    <div class="inputborder" id="inputborder" >
      <!-- *ngIf="hideEmail" -->
      <ion-label id="stackEmail" position="stacked">Email or Seller ID</ion-label>
      <ion-input required id="email" type="email" [(ngModel)]="data.email" clear-input autocomplete autofocus placeholder="Enter your Email or Seller ID"></ion-input>
    </div>
  </ion-item>

  <ion-item>
    <div class="inputborder">
      <!-- *ngIf="hidePsw"  -->
      <ion-label id="stackedPsw" position="stacked">Password</ion-label>
      <ion-input required id="psw" type="password" [(ngModel)]="data.password" clear-input placeholder="Enter your password"></ion-input>
    </div>
  </ion-item>

  <div class="forgot"><span routerLink="/">Forgot Password?</span></div>

  <ion-button (click)="login()" shape="round"  fill="outline" expand="block" class="log" id="login" effect="fade">
    <span>Log In</span>
  </ion-button>

</ion-content>

<!-- <ion-footer>
  <ion-button (click)="login()" shape="round"  fill="outline" expand="block" class="log" id="login" effect="fade">
    <span>Log In</span>
  </ion-button>
</ion-footer> -->