ion-progress-bar {
    height: 10px
}

ion-toolbar {
    --background: var(--ion-toolbar-background,var(--ion-background-color,#fff));
    --color: #66af08;
    --border-color: var(--ion-toolbar-border-color,var(--ion-border-color,var(--ion-color-step-150,#c1c4cd)));
    /* --padding-top: 10%; */
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --min-height: 80px;
}

.contBg {
    padding: 30px;
}

ion-back-button {
    font-family: "Roboto Light";
    letter-spacing: 1.5px;
    font-weight: 600;
}

.header-md:after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-repeat: repeat-x;
    content: "";
}


.hideText h2 {
    font-family: "Poppins-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #4F4F4F;
    text-align: initial;
}
.hideText p {
    color: #4F4F4F;
    text-align: initial;
    font-family: 'Poppins-light';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 190%;
}

.butOne {
    background: white;
    width: 145px;
    height: 54px;
    margin-right: 0px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    font-family:  'Poppins-SemiBold';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #4F4F4F;
    text-transform: uppercase;
}

.butTwo {
    background: white;
    width: 145px;
    height: 54px;
    margin-right: 0px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #4F4F4F;
    text-transform: uppercase;
}

.continue {
    float: right;
    height: 51px;
    margin-bottom: 10%;
    margin-right: 10%;
    background: #66af08;
    padding: 0 10px 0 10px;
    font-family: "Roboto Light";
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    color: #ffffff;
    border: 1px solid #66AF08;
    box-sizing: border-box;
    border-radius: 21px;
    --border-width: 0px;
    --border-style: solid;
    text-transform: capitalize;
}

.continue ion-icon {
    margin-left: 5px;
    padding-top: 1px;
}

.start {
    font-family: 'Poppins-light';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

ion-button.bak {
    --background: transparent;
    --border-width: none;
    --background-activated: transparent;
    --box-shadow: transparent;
    font-family: 'Roboto Light';
    font-weight: bolder;
}

.bak ion-img {
    margin-left: -15px;
    margin-right: 7px;
}

.footer-md:before {
    left: 0;
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 0px;
    background-repeat: repeat-x;
    content: "";
}

.check {
    -webkit-margin-end: 14px;
    margin-inline-end: 14px;
    -webkit-margin-start: -14px;
    margin-inline-start: -14px;
    background: #FFFFFF;
    box-sizing: border-box;
    --border-radius: 5px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: #66AF08;
    --background: var(--ion-item-background,var(--ion-background-color,#fff));
    --transition: background 180ms cubic-bezier(0.4,0,0.2,1);
    --size: 18px;
    width: var(--size);
    height: var(--size);
}

.checkHome {
    --border-style: none;
}
.checkHome .item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    color:  #4F4F4F;
    font-family: 'Poppins-light';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 190%;
}

.optionBg {
    width: 100%;
    margin: auto;
    text-align: center;
}

ion-footer {
    margin-bottom: 30px;

}

.cancel {
    width: 157px;
    height: 61px;
    margin-right: 15px;
    color: #C9DA98;
    background: white;
    border: 1px solid #C9DA98;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    outline: none;
}

.continueTxt {
    width: 157px;
    height: 61px;
    margin-left: 15px;
    color: white;
    background: #66AF08;
    border: 1px solid #C9DA98;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Poppins-light';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    outline: none;
}