<ion-header>
  <ion-progress-bar value={{progress}} buffer="0.05"></ion-progress-bar>
</ion-header>

<ion-content >

  <section class="ion-padding contBg">
    <ion-button (click)="goBack()" class="bak">
      <ion-img slot="start" src="../../../assets/images/back.svg"></ion-img>
      BACK
    </ion-button>
  
    <p class="start">Register as a</p>
  
    <div class="butt">
      <button id="buyer" (click)="hide1()" class="butOne">Buyer</button>
      <button id="seller" (click)="hide2()" class="butTwo">Seller</button>
    </div>
  
    <div *ngIf="hideBuyer" on an element class="hideText">
      
      <h2>Sourcing Produce Buyers</h2>        
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
           fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
          sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <ion-item class="checkHome">
        <ion-label>I agree to <b>terms and conditions</b></ion-label>
        <ion-checkbox color="primary" slot="start" class="check"></ion-checkbox>
      </ion-item>
      
    </div>
  
    <div *ngIf="hideSeller" on an element class="hideText">
      
      <h2>A Seller on Sourcing Produce is,</h2>        
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
         fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <ion-item class="checkHome">
          <ion-label>I agree to <b>terms and conditions</b></ion-label>
          <ion-checkbox color="primary" slot="start" class="check"></ion-checkbox>
        </ion-item>
  
    </div>
  </section>
  
</ion-content>

<ion-footer>

  <section class="optionBg">
    <button class="cancel" *ngIf="hideBuyer" (click)="cancel()" >Cancel</button>
    <button class="continueTxt" *ngIf="hideBuyer"(click)="continueToBuyer()">Continue</button>
  </section>

  <section class="optionBg">
    <button class="cancel" *ngIf="hideSeller" (click)="cancel()">Cancel</button>
    <button class="continueTxt" *ngIf="hideSeller"  (click)="continueToSeller()">Continue</button>
  </section>

  
</ion-footer>