

<ion-content fullscreen scroll-y="false">
  
  <ion-slides pager="true" class="slideHome" #mySlider [options]="slidesOpts">

    <ion-slide>
      <img src="../../../assets/images/farmer1.svg" />
      <div class="text" padding>
        <!-- <h2>Welcome to <b>Sourcing Produce</b></h2> -->
        <p padding>Connecting <b>International buyers</b> of Agricultural Commodities to Local Suppliers in Emerging Markets.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/farmer2.svg" />
      <div class="text" padding>
        <!-- <h2>Transforming Agriculture Landscape</h2> -->
        <p padding><b>Transforming</b> the agriculture landscape across the world. Buy and sell your produce in real time.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/farmer3.svg" />
      <div class="text" padding>
        <!-- <h2>Our buyers?</h2> -->
        <p padding><b>Our buyers</b> are Companies looking to source Agricultural commodites across Africa. 
          We offer Spices, Oilseeds, Herbs and Nuts from across the continent.</p>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer>
  <div class="butt">
    <ion-button shape="round" fill="outline" (click)="login()" class="butOne">LOGIN</ion-button>
    <ion-button shape="round" fill="outline" (click)="createAcc()" class="butTwo">CREATE ACCOUNT</ion-button>
  </div>
</ion-footer>