:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

.swiper-slide {
  display: block;
}

ion-slide>h2 {
  margin-top: 2.8rem;
}

ion-slide>img {
  max-height: 50%;
  max-width: 100%;
  margin: 0;
  border-radius: 0px 0px 30px 30px;
}


.butt {
  text-align: center;
}

.butOne {
  width: 175px;
  height: 51px;
  --border-color: #66AF08;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 23px;
  color: #FFFFFF;
  padding: 0px 25px 0px 25px;
  background: #66AF08;
  border-radius: 25px;
  margin-right: 5px;
}

.butTwo {
  width: 175px;
  height: 51px;
  --background: #fff;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  --border-color: #ffffff;
  border: 1.4px solid #66AF08;
  border-radius: 25px;
  font-weight: 600;
  margin-left: 5px;
}

.cont {
  padding-top: 10px;
}

.cont p,
a {
  text-align: center;
  color: #1d1b1b;
  font-family: "Roboto Light";
  line-height: 16px;
  font-weight: 600;
}

.cont a {
  text-align: center;
  color: #1d1b1b;
  font-family: "Roboto";
  text-decoration: none;
}

.letGo {
  height: 51px;
  --background: #ffffff;
  text-transform: capitalize;
  font-family: 'Libre Franklin', sans-serif;
  --border-color: #ffffff;
  font-size: 18px;
  border: 1.4px solid #66AF08;
  border-radius: 10px 0px 10px 0px;
  font-weight: 600;
  margin-left: 10px;
  padding: 0px 5px 0px 5px;
  width: 85%;
  margin: auto;
  color: #66AF08;
}

.text {
  padding: 30px;
}

.text p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #4F4F4F;
  margin: 0;
}

.footer-md:before {
  left: 0;
  top: -2px;
  bottom: auto;
  background-position: left 0 top 0;
  position: absolute;
  width: 100%;
  height: 0px;
  background-repeat: repeat-x;
  content: "";
}

ion-footer {
  display: block;
  position: sticky;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  z-index: 99;
  padding: 0px 0px 42px 0px;
}

@media screen and (max-width: 320px) {
  .butt {
    margin: auto;
    width: 100%;
    text-align: center;
  }

  .butOne,
  .butTwo {
    width: 40%;
    height: 45px;
    font-size: 9px;
  }
}

@media screen and (max-width: 411px) and (max-height: 731px) {
  .butOne,
  .butTwo {
    width: 155px;
    height: 45px;
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) and (max-height: 568px) {
  .text {
    padding: 20px;
  }

  ion-footer {
    padding: 0px 0px 15px 0px;
  }
}

@media screen and (min-width: 360px) and (max-width: 375px) {

  .text p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #4F4F4F;
    margin: 0;
  }

  .butt {
    text-align: center;
    margin: auto;
    display: flex;
    position: absolute;
    left: 7%;
    bottom: 65%;
  }

  .butOne {
    width: 150px;
    height: 45px;
    --border-color: #66AF08;
    text-transform: capitalize;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 23px;
    color: #FFFFFF;
    padding: 0px 25px 0px 25px;
    background: #66AF08;
    border-radius: 25px;
    margin-right: 5px;
    margin: auto 5px auto auto;
  }

  .butTwo {
    width: 150px;
    height: 45px;
    --background: #fff;
    text-transform: capitalize;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    --border-color: #ffffff;
    border: 1.4px solid #66AF08;
    border-radius: 25px;
    font-weight: 600;
    margin-left: 5px;
    margin: auto auto auto 5px;
  }
}

@media screen and (min-height: 568px) {
  // .text p {
  //     font-size: 12px;
  //     line-height: 20px;
  //     margin-top: -20px;
  // }
}

@media screen and (max-height: 731px) {
  .text p {
    font-size: 14px;
    line-height: 27px;
    margin: 0;
  }
}