ion-progress-bar {
    height: 10px
}

.succBg {
    text-align: center;
}

.succBg img {
    max-width: 148px;
    border: 0;
    margin-top: 35%;
}

.succBg p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #4F4F4F;
    padding: 15px;
}

.submit {
    --background: var(--ion-color-primary);
    font-style: normal;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.6);
    text-align: center;
    line-height: 26px;
    height: 51px;
    background: #66AF08;
    text-transform: capitalize;
    font-family: "Poppins-light";
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 10px;
    padding: 0px 5px 0px 5px;
    width: 90%;
    margin: 10% auto 10px auto;
    color: #ffffff;
}

.footer-md:before {
    left: 0;
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 0px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
}

ion-footer {
    display: block;
    position: relative;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
    padding-bottom: 5%;
}
