
<ion-content fullscreen scroll-y="true">

  <ion-button (click)="goBack()" class="bak">
    <ion-img slot="start" src="../../../assets/images/back2.svg"></ion-img>
    Product Offers
  </ion-button>

  <ion-row>
    <ion-col size="9">
      <ion-toolbar>
        <ion-searchbar showCancelButton="focus" animated placeholder="Search Cashew nuts, Cocoa and more" padding></ion-searchbar> 
      </ion-toolbar>
    </ion-col>
    <ion-col size="3">
      <ion-button class="filBtn" (click)="presentAlert()"> 
        <ion-img src="../../../assets/images/filter.svg"></ion-img>
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Filter Search -->
  <ion-grid>
      <ion-row>
          <ion-col>
              <ion-button class="pr1 productFilter">Cashew</ion-button>
          </ion-col>
          <ion-col>
              <ion-button class="pr2 productFilter">Pepper</ion-button>
          </ion-col>
          <ion-col>
              <ion-button class="pr3 productFilter">Ginger</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="pr1 productFilter">Cashew</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
  <!-- Filter Search End -->

<!-- VIEW MORE -->
  <ion-row class="ion-padding">
    <ion-col size="4"><p>All Products</p></ion-col>
    <ion-col size="4"><p>Latest Arrivals</p></ion-col>
    <ion-col size="4"><p>Reduced Prices</p></ion-col>
  </ion-row>
<!-- VIEW MORE END -->

<!-- VIEW PRODUCTS -->
<ion-row class="row-cont">
  <ion-col size="6" *ngFor="let data of productOffer">
    <ion-card class="cardBg" [routerLink]="['/product-preview']" routerLinkActive="router-link-active">
      <ion-img [src]="data.imageName"></ion-img>
      <ion-card-header class="cardHead">
          <h3>{{ data.productName }}</h3>
          <ion-row>
              <ion-col size="10" class="countDsp">
                  <p>Origin - Nigeria</p>
                  <p>Qty - 24 Metric Tonnes</p>
                  <p>Shipment - August 2020</p>
              </ion-col>

              <ion-col size="2" class="countryBg">
                  <ion-img src="../../../assets/images/nigeria.svg"></ion-img>
              </ion-col>
          </ion-row>
      </ion-card-header>
      <ion-footer>

         <ion-row class="futCart">
              <ion-col size="10">
                  <p><span class="pColor">$200 - $240</span> per Kg</p>
              </ion-col>
              <ion-col class="cartAdd" size="2">
                  <ion-icon name="heart"></ion-icon>
              </ion-col>
         </ion-row>
      </ion-footer>
  </ion-card>
  </ion-col>

  <!-- <ion-col size="6">
    <ion-card class="cardBg" [routerLink]="['/product-preview']" routerLinkActive="router-link-active">
      <ion-img src="../../../assets/images/pr2.png"></ion-img>
      <ion-card-header class="cardHead">
          <h3>{{ data.productName }}</h3>
          <ion-row>
              <ion-col size="10" class="countDsp">
                  <p>Origin - Ivory Coast</p>
                  <p>Qty - 150 Metric Tonnes</p>
                  <p>Shipment - February 2020</p>
              </ion-col>

              <ion-col size="2" class="countryBg">
                  <ion-img src="../../../assets/images/ivory-coast.svg"></ion-img>
              </ion-col>
          </ion-row>
      </ion-card-header>
      <ion-footer>

         <ion-row class="futCart">
              <ion-col size="10">
                  <p><span class="pColor">$850 - $900</span> per Kg</p>
              </ion-col>
              <ion-col class="cartAdd" size="2">
                  <ion-icon name="heart"></ion-icon>
              </ion-col>
         </ion-row>
      </ion-footer>
  </ion-card>
  </ion-col> -->
</ion-row>


<p class="findTxt">Can’t find what you are looking for? <a [routerLink]="['/buyer-home']" routerLinkActive="router-link-active" >Click here</a></p>


<!--VIEW SLIDES END -->

</ion-content>
