ion-button.bak {
    --background: transparent;
    --border-width: none;
    --background-activated: transparent;
    --box-shadow: transparent;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 10px;
}

.bak ion-img {
    margin-left: -15px;
    margin-right: 15px;
}

.filBtn {
    width: 80%;
    height: 40px;
    padding: 1px;
    background: #66AF08;
    border-radius: 25px;
    margin-top: 5px;
    text-transform: none;
    box-sizing: content-box;
    outline: none;
    --border-radius: 25px;
}

.pr1, .pr2, .pr3 {
    width: 84px;
    height: 28px;
    padding: 1px;
    background: #66AF08;
    border-radius: 25px;
    margin-top: 5px;
    text-transform: none;
    box-sizing: content-box;
    outline: none;
    --border-radius: 25px;
    color: #fff;
}

.pr1 {
    background: #a0aec038;
    --background: #a0aec04d;
    color: #A0AEC0;
}
.pr2 {
    background: #f3574f38;
    --background:#f3574f38;
    color: #F3574F;
}
.pr3 {
    background: #c4c4c43d;
    --background: #c4c4c43d;
    color: #C4C4C4;
}

.proEdit button  {
    border-radius: 15px;
}

.filBtn ion-img {
    height: 39px;
    width: 62px;
    margin: auto;
}

.filBtn ion-icon {
    color: #fff;
    height: 29px;
    width: 20px;
}

.cardBg ion-img {
    height: 110px;
}

.countDsp {
    padding: 0px;
}

.countryBg ion-img {
    width: 18px;
    height: 18px;
    margin-left: -20px;
}

.rowCont {
    padding: 2em;
}

.bgText h3 {
    margin: 0;
    font-family: "Poppins-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.uploadImg ion-img {
    max-width: 70%;
    position: absolute;
    right: 5px;
    top: 20px;
}

.bgText p {
    margin: auto;
    font-family: "Poppins";
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.bgText span {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #4F4F4F;
}


:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

.no-scroll .scroll-content {
  overflow: hidden
}

.swiper-slide {
    display: block;
  }

ion-slide > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 0px 0px 30px 30px;
}

ion-slide > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #4F4F4F;
}

.ref {
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
}

.ref a {
  background-color: transparent;
  color: var(--ion-color-primary, #3880ff);
  text-decoration: none
}

ion-slides {
    --bullet-background:  var(--ion-color-primary);
    --bullet-background-active: #F2994A;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #66af08;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  --bullet-background-active: #fff; 
  height: 15px !important;
  width: 15px !important;
  border: 1px solid #67af0a !important;
}

.cocoaText {
    padding-left: 20px;
}
.cocoaText h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #4F4F4F;
    text-align: left;
}

.cocoaText p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #4F4F4F;
    text-align: left;
}

.slide1 {
    margin-top: 0em;
    mix-blend-mode: multiply;
    background:  url('../../../assets/images/Cocoa.png') no-repeat 0 0;
    background-size: cover;
    ion-content {
        --color: #fff;
        --background: none;
    }
    height: 237px
}

.slide2 {
    margin-top: 0em;
    mix-blend-mode: multiply;
    background:  url('../../../assets/images/almonds.png') no-repeat 0 0;
    background-size: cover;
    ion-content {
        --color: #fff;
        --background: none;
    }
    height: 237px
}
.slide3 {
    margin-top: 0em;
    mix-blend-mode: multiply;
    background:  url('../../../assets/images/cashew.png') no-repeat 0 0;
    background-size: cover;
    ion-content {
        --color: #fff;
        --background: none;
    }
    height: 237px
}
.slide4 {
    margin-top: 0em;
    mix-blend-mode: multiply;
    background:  url('../../../assets/images/groundnut.png') no-repeat 0 0;
    background-size: cover;
    ion-content {
        --color: #fff;
        --background: none;
    }
    height: 237px
}

.viewEdit {
    margin-top: 2.3em;
}

.almond {
    background: #ffffff;
    border-radius: 6px;
    float: right;
    padding: 8px 15px 8px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #F44336;
}

.cashew {
    background: #ffffff;
    border-radius: 6px;
    float: right;
    padding: 8px 15px 8px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #F44336;
}

.ground {
    float: right;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    padding: 8px 15px 8px 15px;
    background: #F2994A;
    border-radius: 6px;
}

.reduced {
    margin: 10px 26px 0 0;
}
.ground {
    margin: 10px 26px 0 0;
}
.cashew {
    margin: 10px 26px 0 0;
}
.almond {
    margin: 10px 26px 0 0;
}

.reduced span {
    background: #FFC000;
    border-radius: 6px;
    float: right;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #4F4F4F;
    padding: 8px 15px 8px 15px;
}

.swiper-container {
    margin: 0 auto;
    position: relative !important;
    overflow: visible;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: opacity .3s;
    -o-transition: .3s opacity;
    transition: opacity .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10;
    top: 17em !important;
}

ion-button.view {
    --background: transparent;
    --border-width: none;
    --background-activated: transparent;
    --box-shadow: transparent;
    float: right;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4F4F4F;
    text-transform: capitalize;
    font-family: "Poppins";
}

.view ion-img {
    margin-left: 10px;
}

.viewText p {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4F4F4F;
}

a {
    background-color: transparent;
    color: #F2994A;
}

.cardBg ion-footer {
    display: block;
    position: relative;
    -webkit-box-ordinal-group: 2;
    order: 1;
    width: 100%;
    z-index: 7;
    background: #fff;
    border: 0.1px solid #F2F2F2;
    box-sizing: border-box;
    padding: 5px;
}

.findTxt {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4F4F4F;
}

.findTxt a {
    background-color: transparent;
    color: #F2994A;
    text-decoration: none;
}

.cartAdd ion-icon {
    height: 18px;
    width: 18px;
    color: #FF8833;
    margin-left: 0px;
}
.cardBg .footer-md:before {
    left: 0;
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 0;
}

.cardBg span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #66AF08;
}

.cardBg h3 {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #6E6E6E;
    margin: 0;
    text-align: left;
}
.pColor {
    color: #66AF08;
}

.futCart p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: left;
    padding-left: 0px;
}
ion-button.cart {
    --background: transparent;
    --border-width: none;
    --background-activated: transparent;
    --box-shadow: transparent;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #F44336;
}

.cartText h2 {
    font-weight: 500;
    margin: 0;
    font-family: "Poppins";
    font-size: 14px;
    line-height: 21px;
    color: #4F4F4F;
}
.cartText h3 {
    font-family: "Poppins";
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #4F4F4F;
}
.cartBut {
    display: block;
}
.cart-purchase {
    --background: #fff;
    border-radius: 2px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #FF8833;
    margin: 0;
    height: 35px;
    padding-top: 4px;
    margin-right: 10px;
    text-transform: capitalize;
    margin-top: -5px;
    width: 120px;
}


.countryBg ion-img {
    width: 18px;
    height: 18px;
    margin-left: 0px;
}

.cardHead {
    padding-bottom: 0px;
    padding: 10px;
}

.cardHead p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 21px;
    color: #6E6E6E;
}
.buy-again {
    --background: #66AF08;
    border-radius: 2px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0;
    height: 35px;
    padding-top: 4px;
    margin-top: -5px;
    text-transform: capitalize;
    width: 120px;
}

ion-searchbar .searchbar-input.sc-ion-searchbar-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 55px;
    padding-inline-start: 50px;
    -webkit-padding-end: 20px;
    padding-inline-end: 20px;
}

ion-searchbar .searchbar-input.sc-ion-searchbar-md {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    font-family: "Poppins";
}
.sc-ion-searchbar-md-h {
    --background: #EDF2F7;
    --color: #C4C4C4;
    width: 99%;
    margin-left: 8px;
}
.searchbar-search-icon.sc-ion-searchbar-md {
    --color: #C4C4C4;
}

.sc-ion-card-md-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 10px;
    margin-inline-start: 4px;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    margin-inline-end: 4px;
}

.cardBg {
    width: 188px;
    margin: auto;
}

// .row-cont {
//     margin-bottom: 2em;
// }

@media screen and (min-width: 320px) and (max-width: 360px) {
    .cart-purchase, .buy-again  {
        height: 23px;
        width: 45%;
        margin-top: -8px;
    }

    .reduced span {
        font-size: 8px;
    }
    .almond span {
        font-size: 8px;
    }
    .cashew span {
        font-size: 8px;
    }
    .ground span {
        font-size: 8px;
    }

    .cartImg {
        padding-bottom: 5px;
    }
    .cartImg ion-img{
        margin-bottom: -5px;
    }
    .cartText {
        padding-bottom: 0px;
    }

    .cartText h2 {
        font-size: 12px
    }

    .cartText h3 {
        font-size: 10px;
        margin-top: -7px;
    }
    ion-button.cart {
        font-size: 10px
    }
    
    .cardBg ion-footer{
        padding: 0
    }

    .viewText p {
        font-size: 12px;
    }

    .viewText, .viewAll {
        padding-bottom: 0px;
    }

    .cardBg {
        width: 150px !important;
    }

    .cardHead p {
        font-size: 8px;
    }
    .cardBg h3 {
        font-size: 8px;
    }

    .cardBg span {
        font-size: 8px;
    }
}

@media screen and (min-width: 375px) and (max-height: 666px) {
    .cartText h3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .cart-purchase, .buy-again{
        margin-top: 0px;
    }
    
    .cardBg {
        width: 175px;
    }

    .cartBut {
        display: block;
        padding-top: 3px;
    }
}