<ion-header>
  <ion-progress-bar value="0.8" buffer="0.8"></ion-progress-bar>
</ion-header>

<ion-content class="ion-padding" fullscreen scroll-y="true">

  <ion-button (click)="goBack()" class="bak">
    <ion-img slot="start" src="../../../assets/images/back.svg"></ion-img>
    BACK
  </ion-button>

  <div class="hideText">
    <h2>You are registering as a seller </h2>
    <p class="start">Kindly provide us with the following details </p>
  </div>

 <section class="regBg">
  <ion-list>
    <ion-item>
      <ion-label position="floating">FIRST NAME</ion-label>
      <ion-input [(ngModel)]="sellerBody.fname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">LAST NAME</ion-label>
      <ion-input [(ngModel)]="sellerBody.lname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">GENDER</ion-label>
      <ion-input [(ngModel)]="sellerBody.gender"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>COUNTRY</ion-label>
      <ion-select [(ngModel)]="sellerBody.country" [compareWith]="compareWith">
        <ion-select-option *ngFor="let counTry of countries">{{counTry.country}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">PHONE NUMBER</ion-label>
      <ion-input [(ngModel)]="sellerBody.phoneNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">EMAIL</ion-label>
      <ion-input [(ngModel)]="sellerBody.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">PASSWORD</ion-label>
      <ion-input [(ngModel)]="sellerBody.password"></ion-input>
    </ion-item>

  </ion-list>

  <!-- EXPORTED -->
  <ion-row class="exportedCss">
    <ion-col size="7">
      <p class="exp">HAVE YOU EXPORTED BEFORE?</p>
    </ion-col>

    <ion-col size="5">
      <div class="yes-no" >
        <button class="yesBtn" id="yesBt" (click)="yesButton()">
         <span> Yes </span>
          <!-- <ion-icon name="checkmark" slot="end"></ion-icon> -->
        </button>
        <button class="noBtn" id="noBt" (click)="noButton()">
            <span> No </span>
        </button>
      </div>
    </ion-col>

  </ion-row>
  <!-- EXPORTED END -->
 </section>

  <div class="sub-edit">
    <button fill="outline" expand="block" class="submit" id="submit" effect="fade"  (click)="sellerRegister()"routerDirection="forward">
      <span>Submit</span>
    </button>
  </div>

</ion-content>
<!-- 
<ion-footer>
  <button fill="outline" expand="block" class="submit" id="submit" effect="fade"  (click)="sellerRegister()"routerDirection="forward">
    <span>Submit</span>
  </button>
<ion-footer> -->