ion-progress-bar {
    height: 10px
}

ion-toolbar {
    --background: var(--ion-toolbar-background,var(--ion-background-color,#fff));
    --color: #66af08;
    --border-color: var(--ion-toolbar-border-color,var(--ion-border-color,var(--ion-color-step-150,#c1c4cd)));
    /* --padding-top: 10%; */
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --min-height: 80px;
}

ion-back-button {
    font-family: 'Poppins';
    letter-spacing: 1.5px;
    font-weight: 600;
}


.hideText h2 {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    margin: 10px 0 0 0;
}
.hideText p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #4F4F4F;
    margin: 2px 0 0 0;
}

.butOne {
    --background: #66AF08;
    color: #fff;
    height: 54px;
    width: 112px;
    margin-right: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    --background-activated: #ffffff;
}

.butTwo {
    --background: #ffffff;
    --background-activated: #66AF08;
    color: #66af08;
    height: 54px;
    width: 112px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center
}

.continue {
    float: right;
    margin-top: 15%;
}

.start {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #4F4F4F;
}

ion-button.bak {
    --background: transparent;
    --border-width: none;
    --background-activated: transparent;
    --box-shadow: transparent;
    font-family: 'Roboto Light';
    font-weight: bolder;
}

.bak ion-img {
    margin-left: -15px;
    margin-right: 7px;
}

.select-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #807d7d;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    font-style: normal;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #BDBDBD;
}

.submit {
    --background: var(--ion-color-primary);
    font-style: normal;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.6);
    text-align: center;
    line-height: 26px;
    height: 51px;
    background: #66AF08;
    text-transform: capitalize;
    font-family: "Poppins";
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 0px 5px 0px 5px;
    width: 98%;
    margin: auto;
    color: #ffffff;
    display: block;
}

.regBg {
  width: 98%;
  margin:auto auto auto auto;
}

.native-input.sc-ion-input-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: var(--padding-start);
    padding-inline-start: var(--padding-start);
    -webkit-padding-end: var(--padding-end);
    padding-inline-end: var(--padding-end);
    color: var(--ion-color-medium);
}

.exportedCss {
    margin-top: 10%;
}
.exp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #BDBDBD;
}

.list-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: var(--ion-item-background,var(--ion-background-color,#fff));
}

.footer-md:before {
    left: 0;
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 0px;
    background-repeat: repeat-x;
    content: "";
}

ion-footer {
    display: block;
    position: relative;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
    padding: 10px 0 10px 0;
}

.submitBtn {
    width: 100%;
    position: fixed;
    bottom: 10px;
    left: 0px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
.yes-no {
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 25px;
}

.yesBtn {
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
    background: transparent;
    box-sizing: border-box;
    border-radius: inherit;
    padding-left: 20px;

}

.yesBtn ion-icon {
    font-size: 20px;
}

.noBtn {
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
    background: transparent;
    box-sizing: border-box;
    border-radius: inherit;
    float: right;
    padding-right: 20px;
}

ion-item {
   
    ion-label {
        color: #aba7a7;
        font-weight: 700;
    }

    // .item-inner {
    //     padding-left: 0px;
    //     margin-left: -17px !important;
    
    // }
}

item-label-stacked.sc-ion-input-md-h, .item-label-stacked .sc-ion-input-md-h, .item-label-floating.sc-ion-input-md-h, .item-label-floating .sc-ion-input-md-h {
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 0;
    font-size: 12px;
    color: #9a9a9a;
}

@media screen and (min-width: 412px) and (max-height: 892px) {
    .sub-edit {
        margin-top: 7em;
    }

    .regBg {
        width: 98%;
        margin: 2.3em auto auto auto;
    }
     

}

@media screen and (min-width: 411px) and (max-height: 823px) {
    .sub-edit {
        margin-top: 8em;
    }
}

@media screen and (min-width: 360px) and (max-width: 375px) {
    .exportedCss {
        margin-top: 2%;
    }

    .submit {
        margin-top: 16em;
        font-size: 14px
    }

    .item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
        font-size: 10px;
    }

    .exp {
        font-size: 10px;
    }

    .yesBtn, .noBtn{
        height: 33px;
        font-size: 10px;
    }

    #yesBt {
        width: 68px !important;
    }
    #noBt {
        width: 42px !important;
    }

    .item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
        font-size: 10px;
    }

    .hideText h2 {
        font-size: 14px;

    }

    .hideText p {
        font-size: 12px;
    }
     
}

@media screen and (max-width: 320px) and (max-height: 892px) {
    .exp {
        font-size: 10px;
    }

    #yesBt {
        width: 44px !important;
    }
    #noBt{
        width: 45px !important;
    }

    .yesBtn, .noBtn{
        height: 30px;
        font-size: 10px;
    }

    .item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
        font-size: 10px;
    }

    .hideText h2 {
        font-size: 14px;

    }

    .hideText p {
        font-size: 12px;
    }

    .submit {
        margin-top: 16em;
        font-size: 12px
    }

}



