<ion-content>

  <!-- PRODUCT SLIDES -->
  <ion-slides pager='true' class="previewSlides" #mySlider [options]="slidesOpts">

    <ion-slide>
        <img src="../../../assets/images/cocoa1.png">
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/cocoa2.png">
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/cocoa3.png">
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/cocoa4.png">
    </ion-slide>

</ion-slides>
<!-- PRODUCT SLIDES END -->

<!-- BACK BUTTON  -->
<button (click)="goBack()" class="bak">
  <ion-img slot="start" src="../../../assets/images/back2.svg"></ion-img>
</button>
<!-- BACK BUTTON END -->

<!-- CONTENT -->
<section class="ion-padding contBg" >
 <div padding class="contText">
  <ion-row>
    <ion-col size="11">
      <h3>{{data[0].product}}</h3>
    </ion-col>
    <ion-col size="1">
      <img src="../../../assets/images/love.svg">
    </ion-col>
  </ion-row>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua. Ut enim ad minim veniam, 
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
 </div>

 <!-- Physical Inspect Card -->
    <ion-row  class="rowText">
      <ion-col size="6" class="colEdit">
        <ion-card class="cardEdit">
          <ion-row>
            <ion-col size="10"> 
              <span>Status</span>
            </ion-col>
            <ion-col size="2">
              <img src="../../../assets/images/check.svg">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11">
              <p>Inspection: {{ data[0].inspection }}</p>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="colEdit">
        <ion-card class="cardEdit">
          <ion-row>
            <ion-col size="10"> 
              <span>Origin</span>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="9">
              <p>{{ data[0].origin }}</p>
            </ion-col>
            <ion-col size="3">
              <img src="../../../assets/images/nigeria.svg">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Physical Inspect Card end -->

    <!-- Metric Tons Card -->
    <ion-row padding class="rowText">
      <ion-col size="6" class="colEdit">
        <ion-card class="cardEdit">
          <ion-row>
            <ion-col size="11"> 
              <span>Available Quantity</span>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11">
              <p>{{ data[0].tonnage}} Metric Tonnes</p>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="colEdit">
        <ion-card class="cardEdit">
          <ion-row>
            <ion-col size="11"> 
              <span>Shipment Date</span>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="10">
              <h4 class="dateCss">{{ data[0].date }}</h4>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  <!-- Metric Tons Card end -->

  <!-- PRICE CARD -->
  <ion-row class="rowText">
    <ion-col size="6" class="colEdit">
      <ion-card class="cardEdit">
        <ion-row>
          <ion-col size="11"> 
            <span>Price per Kg</span>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>

        <ion-row class="priceTxt">
          <ion-col size="11">
            <p>$200 - $220</p>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-row class="addPriceTxt">  
        <ion-col size="4"> 
          <ion-fab  horizontal="start" class="fabBg">
            <ion-fab-button>
              <ion-icon name="remove"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
        <ion-col size="4" class="kgTxt">
          <p>1kg</p>
        </ion-col>
        <ion-col size="4">
          <ion-fab  horizontal="start" class="fabBg">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <!-- PRICE CARD END -->

  <!-- ADD TO CART BUTTON -->
<div class="butt">
  <ion-button shape="round" fill="outline" class="add">Added to Cart</ion-button>
  <ion-button shape="round" fill="outline" class="buy">Buy</ion-button>
</div>
<!-- ADD TO CART BUTTON END -->
</section>
<!-- CONTENT END -->

</ion-content>
