/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


body {
  background: #ffffff;
}

// SLIDES HOME
.slideHome.swiper-container {
  position: sticky;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  z-index: 99;
  padding-bottom: 3%;
  // padding-bottom: 18%;
}

.slideHome .swiper-pagination-bullet {
  width: 27px;
  height: 5px;
  display: inline-block;
  border-radius: 3px;
  opacity: 1;
  background: #D1E7B4;
}

.slideHome .swiper-pagination-bullet-active {
  background: var(--bullet-background-active);
}

.slideHome.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 100%;
  z-index: 99;
}

@media screen and (min-width: 412px) and (max-height: 892px) {
  .slideHome.swiper-container {
    padding-bottom: 5em;
  }
}

@media screen and (min-width: 411px) and (max-height: 823px) {
  .slideHome.swiper-container {
    position: sticky;
    margin: 0 auto;
    overflow: hidden;
    list-style: none;
    z-index: 99;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 411px) and (max-height: 731px){
  .slideHome.swiper-container {
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 375px) and (max-width: 892px) {
  .slideHome.swiper-container {
    padding-bottom: 14em;
  }
}

@media screen and (max-width: 360px) and (max-width: 640px) {
  .slideHome.swiper-container {
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 320px) and (max-width: 568px) {
  .slideHome.swiper-container {
    padding-bottom: 0px;
  }
}

.swiper-container {
  margin: 0 auto;
  position: initial;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

// SLIDES HOME END

// BUYER SLIDES 
.buyerSlides.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -28px;
  left: 0;
  width: 100%;
}

//BUYER SLIDES END 

// PRODUCT PREVIEW SLIDES
.previewSlides.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 31px;
  left: 0;
  width: 100%;
  top: 80%;
}

.previewSlides .swiper-pagination-bullet {
  background: #66AF08;
}

.previewSlides.swiper-pagination-bullet-active {
  background: var(--bullet-background-active);
}

// PRODUCT PREVIEW SLIDES END

// SWIPER PAGINATION STYLES
.homeSlide .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #66af08;
  opacity: 1;
}

.homeSlide .swiper-pagination-bullet-active {
  background: #ffffff;
  height: 20px;
  width: 20px;
  border: 1px solid #66AF08;
  box-sizing: border-box;
}

.homeSlide.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
  position: absolute;
  top: 48em;
}

// SWIPER PAGINATION STYLES END

// SEARCH BAR
.searchbar-input.sc-ion-searchbar-md {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 45px;
  padding-inline-start: 45px;
  -webkit-padding-end: 18px;
  padding-inline-end: 18px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #a5a5a5;
}

.searchbar-search-icon.sc-ion-searchbar-md {
  color: #C4C4C4;
}

ion-searchbar {
  .searchbar-input-container {
    .searchbar-input {
      border-radius: 30px !important;
    }
  }
}

//   SEARCH BAR END

// LOGIN INPUT
.item-label-stacked .sc-ion-input-md-h {
  --padding-top: 0;
  --padding-bottom: 8px;
  --padding-start: 0;
  margin-top: 16px;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #4A5568;
}

// LOGIN INPUT END


// POP-UP
.sc-ion-alert-md-h {
  --min-width: 348px;
  --width: auto;
  --min-height: auto;
  --height: auto;
  --max-height: 90%;
  --height: 273px;
  --height: 273px;
  --height: 273px;
  position: absolute;
  top: -21%;
}

ion-select {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #BDBDBD;
  max-width: 60%;
}

.alert-radio-label.sc-ion-alert-md {
  padding-left: 52px;
  padding-right: 26px;
  padding-top: 13px;
  padding-bottom: 13px;
  -ms-flex: 1;
  flex: 1;
  color: var(--ion-color-step-850, #262626);
  font-size: 14px;
}

.alert-button-inner.sc-ion-alert-md {
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #BDBDBD;
}

.alert-title.sc-ion-alert-md {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #BDBDBD;
}

// POP-UP END