<ion-content [fullscreen]="true">
    <!-- USER WELCOME -->
    <ion-row class="rowCont" padding>
        <ion-col size="10" class="bgText">
            <p>Welcome,</p>
            <h3>{{firstName}} {{lastName}}</h3>
            <span>{{state}}, {{country}}</span>
        </ion-col>

        <ion-col size="2">
            <div class="cartIcon">
                <ion-img src="../../../assets/images/filled-cart.png"></ion-img>
            </div>
        </ion-col>
    </ion-row>
    <!-- USER WELCOME END-->

    <!-- PRODUCT SLIDES -->
    <ion-slides pager='true' class="buyerSlides" #mySlider [options]="slidesOpts">

        <ion-slide>
            <ion-row class="slide1">
                <ion-col size="7" class="cocoaText" padding>
                    <h2>Cocoa</h2>
                    <p>Get cocoa bean or simply cocoa, which is also called the cacao bean or cacao.
                        It is dried and fully fermented seed of Theobroma cacao,
                        from which cocoa solids and cocoa butter can be extracted...
                        <a [routerLink]="['/index']" routerLinkActive="router-link-active">Read more</a>
                    </p>
                </ion-col>

                <ion-col size="5" class="reducedBg">

                    <div class="reduced">
                        <span>REDUCED PRICES</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide>
            <ion-row class="slide2">
                <ion-col size="7" class="cocoaText" padding>
                    <h2>Almonds</h2>
                    <p>Clear Raw dried Sweet Almonds. It is dried and fully fermented seed of Bulk Organic
                        and Healthy Sweet, avaialble only in commercial quantity...
                        <a [routerLink]="['/cart']" routerLinkActive="router-link-active">Read more</a>
                    </p>
                </ion-col>

                <ion-col size="5" class="almondBg">

                    <div class="almond">
                        <span>REDUCED PRICES</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide>
            <ion-row class="slide3">
                <ion-col size="7" class="cocoaText" padding>
                    <h2>Cashew Nuts</h2>
                    <p>First Grade Salted roasted cashews with best price. Raw cashew, roasted and salted
                        with silk shell or without shell, white kernel...
                        <a [routerLink]="['/cart']" routerLinkActive="router-link-active">Read more</a>
                    </p>
                </ion-col>

                <ion-col size="5" class="cashewBg">

                    <div class="cashew">
                        <span>LATEST ARRIVALS</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide>
            <ion-row class="slide4">
                <ion-col size="7" class="cocoaText" padding>
                    <h2>Groundnuts</h2>
                    <p>The groundnut processed by is highly demanded for its quality, purity and freshness.
                        We offer various types and sizes of peanuts...
                        <a [routerLink]="['/cart']" routerLinkActive="router-link-active">Read more</a>
                    </p>
                </ion-col>

                <ion-col size="5" class="reducedBg">

                    <div class="ground">
                        <span>LATEST ARRIVALS</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-slide>
    </ion-slides>
    <!-- PRODUCT SLIDES END -->

    <!-- VIEW MORE -->
    <ion-row class="viewEdit">
        <ion-col size="6" class="ion-padding viewText">
            <p>Product Offers</p>
        </ion-col>

        <ion-col size="6">
            <ion-button (click)="viewAll()" class="view">
                View All
                <ion-img slot="end" src="../../../assets/images/forward.svg"></ion-img>
            </ion-button>
        </ion-col>
    </ion-row>
    <!-- VIEW MORE END -->

    <!-- VIEW SLIDES -->
    <ion-slides padding #prodSlide [options]="slidesOpts2">
        <ion-slide *ngFor="let data of productOffer">
            <ion-card class="cardBg">
                <div (click)="productPreview(data.productName)">
                    <!-- <ion-img src="{{ data.imageName }}"></ion-img> -->
                    <ion-img src="../../../assets/images/pr2.png"></ion-img>
                    <ion-card-header class="cardHead">
                        <h3>{{ data.productName }}</h3>
                        <ion-row>
                            <ion-col size="11" class="countDsp">
                                <p>Origin - Ghana</p>
                                <p>Qty - 100 Metric Tonnes</p>
                                <p>Shipment - August 2020</p>
                            </ion-col>

                            <ion-col size="1" class="countryBg">
                                <ion-img src="../../../assets/images/ghana.png"></ion-img>
                            </ion-col>
                        </ion-row>
                    </ion-card-header>
                </div>

                <ion-footer>
                    <ion-row class="futCart">
                        <ion-col size="9">
                            <p><span class="pColor">$400 - $450</span> per Kg</p>
                        </ion-col>
                        <ion-col class="cartAdd" size="3">
                            <ion-img src="../../../assets/images/love.svg"></ion-img>
                        </ion-col>
                    </ion-row>
                </ion-footer>
            </ion-card>
        </ion-slide>
    </ion-slides>
    <!--VIEW SLIDES END -->

    <!-- RECENT PURCHASE -->
    <ion-row>
        <ion-col size="6" class="ion-padding viewText">
            <p>My Recent Purchases</p>
        </ion-col>
        <ion-col size="6" class="viewAll">
            <ion-button [routerLink]="['/cart']" routerLinkActive="router-link-active" class="view">
                See All
                <ion-img slot="end" src="../../../assets/images/forward.svg"></ion-img>
            </ion-button>
        </ion-col>
    </ion-row>
    <!-- RECENT PURCHASE END -->


    <!-- PURCHASES -->
    <ion-card>
        <ion-row>
            <ion-col size="3" class="cartImg">
                <ion-img class="me" src="../../../assets/images/purchase1.png"></ion-img>
            </ion-col>

            <ion-col size="9" class="cartText">
                <h2>Groundnuts</h2>
                <h3>Now selling from $600 per Kg</h3>

                <div class="cartBut">
                    <ion-button class="cart-purchase">
                        <img src="../../../assets/images/empty-cart.svg">
                        Add to Cart
                    </ion-button>

                    <ion-button class="buy-again">
                        <img src="../../../assets/images/return.svg" slot="start">
                        Buy Again
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card>
        <ion-row>
            <ion-col size="3" class="cartImg">
                <ion-img class="me" src="../../../assets/images/purchase2.png"></ion-img>
            </ion-col>

            <ion-col size="9" class="cartText">
                <h2>Groundnuts</h2>
                <h3>Now selling from $1850 per Kg</h3>

                <div class="cartBut">
                    <ion-button class="cart-purchase">
                        <img src="../../../assets/images/empty-cart.svg">
                        Add to Cart
                    </ion-button>

                    <ion-button class="buy-again">
                        <img src="../../../assets/images/return.svg" slot="start">
                        Buy Again
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card>
        <ion-row>
            <ion-col size="3" class="cartImg">
                <ion-img class="me" src="../../../assets/images/purchase3.png"></ion-img>
            </ion-col>

            <ion-col size="9" class="cartText">
                <h2>Cocoa</h2>
                <h3>Now selling from $850 per Kg</h3>

                <div class="cartBut">
                    <ion-button class="cart-purchase">
                        <img src="../../../assets/images/empty-cart.svg">
                        Add to Cart
                    </ion-button>

                    <ion-button class="buy-again">
                        <img src="../../../assets/images/return.svg" slot="start">
                        Buy Again
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>

    <!-- PURCHASES END -->

</ion-content>