<ion-content>
<section class="tracktxt">

  <ion-card >
    <ion-row class="ion-padding">
      <ion-col size="3">
        <ion-img src="../../../assets/images/item1.png"></ion-img>
      </ion-col>

      <ion-col size="9" class="cartText">
        <h3>ATSA Quality Fresh Cocoa</h3>
        <h5>Origin: Ivory Coast</h5>
        <p>Status: Physically Inspected</p>
        <p><span class="pColor">$850</span> per Kg</p>
      </ion-col>
    </ion-row>

    <ion-footer class="cartFut">
      <ion-row class="futCart">
           
           <ion-col class="cartAdd" size="7">
                  <ion-row class="addPriceTxt">  
                    <ion-col size="4" class="qtyTxt"> 
                      <p>Quantity</p>
                    </ion-col>

                    <ion-col size="8" class="kgTxt">
                      <ion-row>
                        <ion-col size="4">
                          <ion-fab  horizontal="start" class="fabBg">
                            <ion-fab-button>
                              <ion-icon name="remove"></ion-icon>
                            </ion-fab-button>
                          </ion-fab>
                        </ion-col>

                        <ion-col size="4" class="kgEdit">
                            <p>2kg</p>
                        </ion-col>
                        
                        <ion-col size="4">
                          <ion-fab  horizontal="start" class="fabBg">
                            <ion-fab-button>
                              <ion-icon name="add"></ion-icon>
                            </ion-fab-button>
                          </ion-fab>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                </ion-row>
           </ion-col>

           <ion-col size="5" class="count">
              <p>$1,700</p>
         </ion-col>
      </ion-row>
   </ion-footer>
  </ion-card>
  
  <ion-card>
    <ion-row class="ion-padding">
      <ion-col size="3">
        <ion-img src="../../../assets/images/item1.png"></ion-img>
      </ion-col>

      <ion-col size="9" class="cartText">
        <h3>ATSA Quality Fresh Cocoa</h3>
        <h5>Origin: Ivory Coast</h5>
        <p>Status: Physically Inspected</p>
        <p><span class="pColor">$850</span> per Kg</p>
      </ion-col>
    </ion-row>

    <ion-footer class="cartFut">
      <ion-row class="futCart">
           
           <ion-col class="cartAdd" size="7">
                  <ion-row class="addPriceTxt">  
                    <ion-col size="4" class="qtyTxt"> 
                      <p>Quantity</p>
                    </ion-col>

                    <ion-col size="8" class="kgTxt">
                      <ion-row>
                        <ion-col size="4">
                          <ion-fab  horizontal="start" class="fabBg">
                            <ion-fab-button>
                              <ion-icon name="remove"></ion-icon>
                            </ion-fab-button>
                          </ion-fab>
                        </ion-col>

                        <ion-col size="4" class="kgEdit">
                            <p>2kg</p>
                        </ion-col>
                        
                        <ion-col size="4">
                          <ion-fab  horizontal="start" class="fabBg">
                            <ion-fab-button>
                              <ion-icon name="add"></ion-icon>
                            </ion-fab-button>
                          </ion-fab>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                </ion-row>
           </ion-col>

           <ion-col size="5" class="count">
              <p>$1,700</p>
         </ion-col>
      </ion-row>
   </ion-footer>
  </ion-card>

  <ion-card>
    <ion-row class="ion-padding">
      <ion-col size="3">
        <ion-img src="../../../assets/images/item1.png"></ion-img>
      </ion-col>

      <ion-col size="9" class="cartText">
        <h3>ATSA Quality Fresh Cocoa</h3>
        <h5>Origin: Ivory Coast</h5>
        <p>Status: Physically Inspected</p>
        <p><span class="pColor">$850</span> per Kg</p>
      </ion-col>
    </ion-row>

    <ion-footer class="cartFut">
      <ion-row class="futCart">
           
           <ion-col class="cartAdd" size="7">
                  <ion-row class="addPriceTxt">  
                    <ion-col size="4" class="qtyTxt"> 
                      <p>Quantity</p>
                    </ion-col>

                    <ion-col size="8" class="kgTxt">
                      <ion-row>
                        <ion-col size="4">
                          <ion-fab  horizontal="start" class="fabBg">
                            <ion-fab-button>
                              <ion-icon name="remove"></ion-icon>
                            </ion-fab-button>
                          </ion-fab>
                        </ion-col>

                        <ion-col size="4" class="kgEdit">
                            <p>2kg</p>
                        </ion-col>
                        
                        <ion-col size="4">
                          <ion-fab  horizontal="start" class="fabBg">
                            <ion-fab-button>
                              <ion-icon name="add"></ion-icon>
                            </ion-fab-button>
                          </ion-fab>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                </ion-row>
           </ion-col>

           <ion-col size="5" class="count">
              <p>$1,700</p>
         </ion-col>
      </ion-row>
   </ion-footer>
  </ion-card>
</section>

</ion-content>
