ion-button.bak {
    --background: transparent;
    --border-width: none;
    --background-activated: transparent;
    --box-shadow: transparent;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 10px;
}

.tracktxt {
    margin-top: 10%;
}
.bak ion-img {
    margin-left: -15px;
    margin-right: 15px;
}

.cancelTxt ion-button {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FF8833;
    float: right;
}

.cartText {
    padding-left: 15px;
}
.cartText h3 {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4F4F4F;
    margin: 0;
}
.cartText h5 {
    font-family: "Poppins-light";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 190%;
    color: #4F4F4F;
    margin: 0;
}

.cartText p {
    font-family: 'Poppins-light';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 190%;
    color: #4F4F4F;
    margin: 0;
}

.pColor {
    color: #66AF08;
}

.remove {
    --background: #F7FAFC;
    font-family: "Poppins-light";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 190%;
    color: #4F4F4F;
    text-transform: capitalize;
    margin: 0;
    --box-shadow: 0 3px -2px -2px;
    float: right;
}

ion-fab-button {
    --background: #fff;
    width: 25px;
    height: 25px;
    border: 1px solid #66af08;
    border-radius: 25px;
}

.qtyTxt p {
    text-align: end;
    font-family: "Poppins-light";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 190%;
    color: #4F4F4F;
}

.cartFut {
    background: #F7FAFC;
    border-radius: 0px 0px 5px 5px;
}

.kgTxt {
    margin-top: -5px;
}

.kgEdit {
    margin-top: 4px;
}

.count p {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #66AF08;
    float: right;
    padding: 8px 15px 0 0;
}

.totalBg {
    background: #EDF2F7;
    box-shadow: 0px 0.2px 2px #BDBDBD;
    border-radius: 5px;
    padding: 10px 15px 5px 15px;
}

.totalTxt p {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4F4F4F;
    margin: 0;
}

.amountTxt p {
    text-align: right;
    font-family: "Poppins-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
    margin: 0;
}


.futCart p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    padding-left: 0px;
}

.proceed-btn {
    width: 100%;
    // position: fixed;
    bottom: 10px;
    left: 0px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

.log {
    position: fixed;
    top: 90%;
    z-index: 99;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.6);
    text-align: center;
    line-height: 26px;
    height: 51px;
    background: #66AF08;
    text-transform: capitalize;
    font-family: "Poppins";
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 10px;
    padding: 0px 5px 0px 5px;
    width: 86%;
    margin: 0 auto 20px auto;
    color: #ffffff;
}

.shipTxt h3 {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4F4F4F;
    margin: 0;
}

.shipTxt p {
    font-family: "Poppins-light";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 190%;
    color: #4F4F4F;
    margin: 0;
}

.editTxt p {
    margin: 0;
    float: right;
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #66AF08;
}